
:root {
	background: #000;
	color: #fff;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1px;
#	border-radius: 10px;
}

a {
	color: #000000;
}

.symb_up {
	background-color: #AAFFAA;
}

.symb_down {
	background-color: #FFAAAA;
}

.pos_eight {
	background-color: #00FF00;
}

.pos_seven {
	background-color: #20FF20;
}

.pos_six {
	background-color: #40FF40;
}

.pos_five {
	background-color: #60FF60;
}

.pos_four {
	background-color: #80FF80;
}

.pos_three {
	background-color: #A0FFA0;
}

.pos_two {
	background-color: #C0FFC0;
}

.pos_one {
	background-color: #D0FFD0;
}

.pos_small {
	background-color: #E0FFE0;
}

.neg_small {
	background-color: #FFE0E0;
}

.neg_one {
	background-color: #FFD0D0;
}

.neg_two {
	background-color: #FFC0C0;
}

.neg_three {
	background-color: #FFA0A0;
}

.neg_four {
	background-color: #FF8080;
}

.neg_five {
	background-color: #FF6060;
}

.neg_six {
	background-color: #FF4040;
}

.neg_seven {
	background-color: #FF2020;
}

.neg_eight {
	background-color: #FF0000;
}
